footer.map__footer
    .footer
        .footer__row
            .row-first
                .row-first__col-left
                    nav.menu-footer
                        a(href="works").menu-footer__item Мои работы
                        a(href="about").menu-footer__item Обо мне
                        a(href="blog").menu-footer__item Блог
                        a(href="index").menu-footer__item Авторизация
                .row-first__col-right
                    ul.socials-footer
                        li.socials-footer__item
                            a(href="https://vk.com/id258183174", target="_blank")
                                svg.social__icon_big.icon_color-rounded
                                    use(xlink:href="./assets/img/sprite.svg#vk_round")
                        li.socials-footer__item
                            a(href="https://github.com/Degray84", target="_blank")
                                svg.social__icon_big.icon_color-rounded
                                    use(xlink:href="./assets/img/sprite.svg#github_round")         
                        li.socials-footer__item
                            a(href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%B0%D1%86%D0%B5%D1%80-35b351141/", target="_blank")
                                svg.social__icon_big.icon_color-rounded
                                    use(xlink:href="./assets/img/sprite.svg#in_round")
                        
        .footer__row
            .row-second
                .row-second__col-left
                    .footer__text.footer__text_left
                        p Я веб-разработчик из Минска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .row-second__col-right
                    .footer__text.footer__text_right
                        p © Кацер Сергей | создано с любовью в LoftSchool | 2017