.block-title {
    position: relative;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 29px;
        width: 22px;
        height: 5px;
        background: rgba($main-color, .2);
    }
    $margin: 35px;
    &:after {
        right: -$margin;
    }
    &:before {
        left: -$margin;
    }
    &_title {
        font-size: 63px;
        color: $main-color;
        font-family: "bernier";
        text-align: center;
        line-height: 1;
        @include phones {
            font-size: 35px;
            line-height: 1.2;
            &:after,
            &:before {
                top: 19px;
            }
        }
    }
    &_subtitle {
        font-size: 35px;
        font-family: "bernier";
        color: $main-color;
        text-align: center;
        &:after,
        &:before {
            top: 22px;
        }
    }
    @include phones {
        font-size: 32px;
        &:after,
        &:before {
            top: 19px;
        }
    }
    &_cent {
        @include phones {
            &:after,
            &:before {
                @include centered(y);
            }
        }
    }
    &-hover{
       position: relative;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover:after,
    &:hover:before {
        content: "";
        display: block;
        position: absolute;
        top: 29px;
        width: 22px;
        height: 5px;
        background: rgba($clear-white, 1);
    }
    $margin: 35px;
    &:hover:after {
        right: -$margin;
    }
    &:hover:before {
        left: -$margin;
    }
    &_title {
        font-size: 63px;
        color: $clear-white;
        font-family: "bernier";
        text-align: center;
        line-height: 1;
        @include phones {
            font-size: 35px;
            line-height: 1.2;
            &:hover:after,
            &:hover:before {
                top: 19px;
            }
        }
    }
    }
}