.messages {
    &__notify {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 42;
    }
    &__pop {}
}

.notify-complite {
    display: none;
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 112px;
    &__title {
        position: absolute;
        @include centered(x);
        top: 16px;
    }
    &__btn {
        position: absolute;
        @include centered(x);
        top: 50px;
    }
}

.notify-title {
    width: 280px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgba(55, 62, 66, 0.8);
    text-align: center;
}

.notify-btn {
    cursor: pointer;
    width: 104px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(0, 191, 165);
    font-size: 16px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.notification {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1500px;
    height: 1082px;
    z-index: 46;
}

.pop-message {
    position: relative;
    width: 190px;
    height: 65px;
    z-index: 5;
    &__arrow {
        background-color: rgb(228, 72, 69);
        position: absolute;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        left: 40px;
        top: 4px;
        z-index: -5;
    }
    &__box {
        background-color: rgb(228, 72, 69);
        border-radius: 5px;
        position: absolute;
        left: 15px;
        top: 10px;
        width: 180px;
        height: 45px;
        font-size: 16px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 2.8;
    }
    &_color-red {}
    &_position_top-left {}
}