#main__parallax {
    position: absolute;
    @include centered();
    overflow: hidden;
}

.parallax {
    position: absolute;
    width: 112%;
    height: 112%;
    overflow: hidden;
    will-change: transform;
    &__layer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
    }
    &__image {
        display: none;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: -15%;
    }
    &__scroll {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        height: 125%;
        transform: translateX(-50%);
    }
    &_laptop {
        @include lap-parallax {
            display: block;
        }
    }
    &_desktop {
        @include desk-parallax {
            display: block;
        }
    }
    &_retina {
        @include retina-parallax {
            display: block;
        }
    }
    &_tablets {
        @include tab-parallax {
            display: block;
        }
    }
    &_phones {
        @include phones {
            display: block;
        }
    }
}