.section-title__pic {
    fill: $clear-white;
    opacity: .1;
    width: 100vw;
    max-width: 1200px;
    display: block;
    height: 300px;
    @include phones {
        display: none;
    }
    @include tablets {
        display: none;
    }
}