.wk-slider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    padding-top: 100px;
    @include desktop {
        justify-content: space-between;
        flex-flow: row wrap;
        flex-direction: row-reverse;
    }
    @include laptop {
        justify-content: space-between;
        flex-flow: row wrap;
        flex-direction: row-reverse;
    }
    &-left__card {
        position: relative;
        order: 2;
        align-self: flex-end;
        @include desktop {
            width: 50vw;
        }
        @include laptop {
            width: 50vw;
        }
    }
    &-present {
        position: relative;
        display: flex;
        justify-content: space-around;
        order: 3;
        width: 100vw;
        height: 35vw;
        overflow: hidden;
        @include desktop {
            width: 50vw;
            height: 17.5vw;
        }
        @include laptop {
            width: 50vw;
            height: 17.5vw;
            align-self: flex-end;
        }
        &__second {
            order: 1;
            width: 50vw;
            position: relative;
        }
        &__third {
            order: 2;
            width: 50vw;
            position: relative;
        }
    }
    &-present__first {
        order: 1;
        position: relative;
        @include desktop {
            padding-bottom: 100px;
            width: 50vw;
        }
        @include laptop {
            padding-bottom: 100px;
            width: 50vw;
        }
    }
    &-first-cont {
        margin: auto;
        display: flex;
        width: 40vw;
        position: relative;
        height: 25vw;
        @include phones {
            width: 90vw;
            height: 60vw;
        }
        @include tablets {
            width: 90vw;
             height: 60vw;
        }
    }
}

.slider-desc {
    position: relative;
    display: none;
    width: 420px;
    height: 300px;
    margin: auto;
    &__link {
        @include centered(x);
        bottom: 30px;
    }
    &__title {
        @include centered(x);
    }
    &__tech {
        @include centered(x);
        top: 125px;
        width: 80%;
    }
}

.desc-tech {
    font-size: 16px;
    font-family: "Roboto";
    color: $akcent-color;
    line-height: 1.4;
    text-align: center;
    &:before {
        content: "";
        display: block;
        @include centered(x);
        top: -18px;
        background-color: $sub-akcent-color;
        opacity: 0.302;
        width: 420px;
        height: 2px;
    }
    &:after {
        content: "";
        display: block;
        @include centered(x);
        bottom: -18px;
        background-color: $sub-akcent-color;
        opacity: 0.302;
        width: 420px;
        height: 2px;
    }
}

.first-work-img {
    position: absolute;
    display: none;
    width: 100%;
    @include desktop {
        width: 40vw;
    }
    @include laptop {
        width: 40vw;
    }
}

.second-work-img,
.third-work-img {
    margin: 20px;
    margin-left: 5%;
    display: none;
    width: 90%;
    position: absolute;
}

.bg_color_gray {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($sub-main-color, 0.4);
}

.work_active {
    display: block;
}