.socials {
    margin: 0;
    padding: 0;
}

.socials-footer {
    margin: 0;
    padding: 0;
    margin-left: -8px;
}

.socials-footer__item {
    list-style: none;
    display: inline-block;
    margin-left: 8px;
}

.socials__item {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}