.socials {
    margin: 0;
    padding: 0;
    min-width: 160px;
}

.socials__item {
    list-style: none;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 15px;
}

.socials__item_vk {}

.socials__item_fb {}

.socials__item_in {}