extends ../_template
block variables
block content
  include ../common/header
  section.blog
    .works-triangle__left
      .triangle.triangle_fill_clear-clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
    .works-triangle__right
      .triangle.triangle_fill_clear-clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
    .blog__left.blog__left_relative
      .blog__left-nav   
        ul.blog-nav-list
          each titles in items
            li.blog-nav-item
              .blog-nav-block
              a.blog-nav-text.blog-nav-text_active= titles.title
        svg.halfcircle 
          circle(r="25" cx="30" cy="30" fill="#00bfa5" stroke="#d6d6d6" stroke-width="5") 
    .blog__right
      .blog__right-content
        ul.blog-content-list
          each article in items
            li.blog-content-item
              .blog-article__title
                .article-title= article.title
              .blog-article__date
                  .article-date= article.data
              .blog-article__content
                  .article-content= article.body
  include ../common/footer