extends ../_template
//- block variables
block content
  main.main
    #main__parallax.parallax
    .main__container
        .main__login
          .login
            a.login__title Авторизация
        .main__card.main__card_active
          .card-flip
            .card-menu
              .card__bg
              .card-menu__wrapper
                .card-menu__user     
                  .user
                    .user__pic
                      img(src="./assets/img/MyPhoto(06.17).png").user__pic-img
                    .user__description
                      .user__name.user__name_index Кацер Сергей
                      .user__info.user__info_index Личный сайт разработчика
                .card-menu__socials
                  ul.socials
                    li.socials__item
                      a(href="https://vk.com/id258183174", target="_blank")
                        svg.social__icon_big.social_icon-vk.icon_color-cyan
                          use(xlink:href="./assets/img/sprite.svg#vk")
                    li.socials__item
                      a(href="https://github.com/Degray84", target="_blank")
                        svg.social__icon_big.social_icon-github.icon_color-cyan
                          use(xlink:href="./assets/img/sprite.svg#github")         
                    li.socials__item
                      a(href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%B0%D1%86%D0%B5%D1%80-35b351141/", target="_blank")
                        svg.social__icon_big.social_icon-in.icon_color-cyan
                          use(xlink:href="./assets/img/sprite.svg#in")
              .card-menu__nav
                ul.main-nav
                  li.main-nav__item.main-nav__item_works
                    a(href="works", class=`main-nav__link`) Мои работы
                  li.main-nav__item.main-nav__item_about
                    a(href="about", class=`main-nav__link`) Обо мне
                  li.main-nav__item.main-nav__item_blog
                    a(href="blog", class=`main-nav__link`) Блог
            form.card-login
              .card__bg
              .card-login__title
                .block-title.block-title_subtitle.block-title_title-big АВТОРИЗУЙТЕСЬ
              .card-login__name
                .card-login-place
                  .card-login-place__rect
                    .card-login__icon
                      svg.social__icon_smaller.icon_color-gray
                        use(xlink:href="./assets/img/sprite.svg#login")
                  .card-login-place__input
                    input(type="text" placeholder="Логин" name="login").login-place-input
              .card-login__pass
                .card-login-place
                  .card-login-place__icon
                  .card-login-place__rect
                    .card-login__icon
                      svg.social__icon_smaller.icon_color-gray
                        use(xlink:href="./assets/img/sprite.svg#password")
                  .card-login-place__input
                    input(type="text" placeholder="Пароль" name="pass").login-place-input
              .card-login__am-i-humman
                .am-i-humman
                    .am-i-human__first-check
                      .human-ckeckbox
                        input(id="ch" type="checkbox" name="humman" hidden).human-ckeckbox__ch
                        label(for="ch").human-tx Я человек                       
                    .am-i-human__ques 
                      .am-i-human-ques
                        .human-tx.human-tx_bold.human-tx_center Вы точно не робот?
                    .am-i-human__second-check
                      .second-check-cont
                        .second-check-yes
                          input(type="radio" id="rad1" name="robot" hidden).second-check__radio
                          label(for="rad1").human-tx.second-check__tx.human-tx_width-big Да
                        .second-check-no
                          input(type="radio" id="rad2" name="robot" hidden).second-check__radio
                          label(for="rad2").human-tx.second-check__tx.human-tx_width-big Не уверен
              .card-login__menu
                nav.card-login-nav
                  ul.card-login-nav__list-login
                    li.card-login-nav__item.card-login-nav__item_login
                      a(href="index", id="goBack" class="card-login-nav__link") На главную
                    li.card-login-nav__item.card-login-nav__item_login
                      a(id="comeIn" class="card-login-nav__link") Войти
        .main__card        
  footer.main__footer
    .footer @ Кацер Сергей | Создано с любовью в LoftSchool 2017      