extends ../_template

block variables
  - var title = 'Works page'

block content
  include ../common/header
  section.works
    .works-triangle__left
      .triangle.triangle_fill_clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
    .works-triangle__right
      .triangle.triangle_fill_clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
    .works-content
      .works__title
        .works-title
          svg.works-title__pic
            use(xlink:href="./assets/img/sprite.svg#works_header")
          .block-title.block-title_title Мои работы
      .wk-slider
        .wk-slider__left
          .wk-slider-left__card
            .slider-desc
              .slider-desc__title
                .block-title.block-title_subtitle.block-title_width-big Работа 1
              .slider-desc__tech
                .desc-tech Html, css, javascript
              .slider-desc__link
                include ../common/btn.pug
            .slider-desc.work_active
              .slider-desc__title
                .block-title.block-title_subtitle.block-title_width-big Работа 2
              .slider-desc__tech
                .desc-tech Html, css, javascript
              .slider-desc__link
                include ../common/btn.pug
            .slider-desc
              .slider-desc__title
                .block-title.block-title_subtitle.block-title_width-big Работа 3
              .slider-desc__tech
                .desc-tech Html, css, javascript
              .slider-desc__link
                include ../common/btn.pug
        .wk-slider__right
          .wk-slider-present__first
            img(src="./assets/img/work1.png").first-work-img.work_active
          .wk-slider-present__second
            .bg_color_gray
            .arrow-works.works__scroll-button
              svg.arrow-down__pic
                use(xlink:href="./assets/img/sprite.svg#arrow_down")
            img(src="./assets/img/work1.png").second-work-img
          .wk-slider-present__third
            .bg_color_gray
            .arrow-works.works__scroll-button
              svg.arrow-up__pic
                use(xlink:href="./assets/img/sprite.svg#arrow_down")
            img(src="./assets/img/work1.png").third-work-img
  section.section-big.works__about           
    img.hero__bg(src="./assets/img/bg/water.png")
    .works-about__title
      .block-title.block-title_title Что обо мне говорят
      svg.works-title__pic
        use(xlink:href="./assets/img/sprite.svg#about_header")
    .works-about__content
      .about
        .about__first
          .about-koval
            .about__img-svg
              img(src="./assets/img/coma.png").about-svg
            .about__desc
              .about__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .about__pers
              .about-pers
                .about-pers__photo
                  img(src="./assets/img/koval.png").about-svg
                .about-pers__who
                  .about-pers-desc
                    .about-pers-who__name.about__pers-text.about__pers-text_bold Ковальчук Дмитрий
                    .about-pers-who__desc.about__pers-text Основатель LoftSchool
        .about__second
          .about-saban
            img(src="./assets/img/coma.png").about__img-svg
            .about__desc
              .about__desc-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .about__pers
              .about-pers
                .about-pers__photo
                  img(src="./assets/img/saban.png").about-svg
                .about-pers__who
                  .about-pers-desc
                    .about-pers-who__name.about__pers-text.about__pers-text_bold Сабанцев Владимир
                    .about-pers-who__desc.about__pers-text Преподаватель
    .works-about__submit
      .works-submit
        .works-filter
        .submit__title
          .block-title.block-title_subtitle.block-title_width-big Связаться со мной
        .submit__name
          input(type="text" placeholder="Имя").submit_place.submit-text
        .submit__email
          input(type="email"  placeholder="Email").submit_place.submit-text
        .submit__message
          textarea(cols="22" rows="5" placeholder="Ваше сообщение").submit_place.submit_place-area.submit-text
      .submit__buttons
        .submit-buttons
          input(type="submit" value="Отправить").submit-btn
          input(type="reset"  value="Очистить").submit-btn
    .works-about__to-top
      .arrow.arrow_to-top           
    include ../common/footer
        

  